@charset
"iso-8859-1"
;
html {
width: 100%;
height: 100%;
}
body {
overflow:hidden;
position: relative;
height: 100%;
min-width: 720px;
min-height: 550px;
margin: 0;
*zoom:1;
}
body, table, select, input, button {
font-size: 12px;
font-family: tahoma, arial, sans-serif;
}
body, input, select {
background-color: #fff;
}
form {
margin: 0;
padding: 0;
}
a:link, a:visited, a:active {
color: #8F9090;
}
a:hover {
color: #8F9090;
}
:focus { 
outline: 0
}
.Head {
height: 50px;
width: 950px;
margin: 0 auto;
}
.Head .Links {
padding: 23px 0 0;
text-align: right;
}
.Head a {
color: #8F9090;
text-decoration: none;
}
.Head a:hover {
text-decoration: underline;
}
.Main {
width: 950px;
height: 476px;
margin: 0 auto 8px auto;
}
.MainL {
width: 583px;
height: 444px;
float: left;
}
.MainL .LTop {
width: 581px;
height: 55px;
overflow: hidden;
background-image: url(MailL_Top_bg.gif);
}
.MainL .LContent {
width: 581px;
height: 310px;
background-image: url(pic.gif);
}
.MainL .LB {
width: 581px;
/*height: 88px;
background-image: url(MailL_B_bg.gif);*/
}
.MainR {
width: 367px;
height: 444px;
float: left;
white-space: nowrap;
}
.MainR .Header {
height: 27px;
padding: 13px 0 0 64px;
}
.MainR .Header .iconL {
width: 26px;
height: 26px;
margin-right: 12px;
background-image: url(iconL.gif);
float: left;
}
.MainR .Header .title {
font-size: 16px;
font-weight: bold;s
color: #5b5b5b;
float: left;
margin-top: 2px;
font-family:"Microsoft Yahei";
}
#logArea .Error {
height: 25px;
color: #FF0000;
padding: 8px 0 0 100px;
margin: 0;
}
#logArea .inptr {
height: 30px;
margin: 0 0 15px 0;
padding: 0 0 0 30px;
}
#logArea .inptr span {
color: #666666;
}
#logArea .indent {
padding-left: 100px;
_padding-left: 102px;
height: auto;
}
#logArea label {
float: left;
width: 60px;
font-size: 12px;
text-align: right; 
margin-right: 10px;
color: #666666;
line-height: 30px;
}
#logArea label.for {
float: none;
}
.MainB {
float: left;
width: 950px;
height: 100px;
margin-top: 60px;
padding: 10px 0 0 0;
background: url(MainB_bg.gif) 0 0 repeat-x;
}
.MainB dl {
float: left;
width: 135px;
height: 72px;
margin: 0 0 0 10px;
*margin-left: 5px; 
padding: 0;
margin-top: 10px;
}
.MainB dt, .MainB dd {
margin: 0;
padding: 0;
}
.MainB dt {
width: 58px;
height: 58px;
margin: 0 auto;
}
.MainB dt a {
display: block;
widht: 55px;
height: 58px;
text-indent: -9999px;
}
.MainB dt.hot1 {
background: url(newFeatures.gif) 0 0 no-repeat;
}
.MainB dt.hot2 {
background: url(newFeatures.gif) -58px 0 no-repeat;
}
.MainB dt.hot3 {
background: url(newFeatures.gif) -116px 0 no-repeat;
}
.MainB dt.hot4 {
background: url(newFeatures.gif) -174px 0 no-repeat;
}
.MainB dt.hot5 {
background: url(newFeatures.gif) -232px 0 no-repeat;
}
.MainB dt.hot6 {
background: url(newFeatures.gif) -290px 0 no-repeat;
}
.MainB dd {
width: 130px;
margin: 0 auto;
text-align: center;
}
.MainB h3 {
margin: 0;
font-size: 14px;
font-weight: bold;
}
.MainB a.title {
color: #3A8DC9;
}
.MainB p {
color: #999;
line-height: 1.5em;
}
.MainB .breakLineL {
float: left;
margin-right: 8px;
width: 1px;
height: 95px;
border-left: 1px solid #ececec;
}
.MainB .breakLine {
float: left;
margin-left: 8px;
width: 1px;
height: 95px;
border-left: 1px solid #ececec;
}
.MainB .breakLineR {
float: right;
margin-left: 8px;
width: 1px;
height: 95px;
border-left: 1px solid #ececec;
}
.Button {
border: none;
background-color: lightskyblue;
background-image: url(button.gif);
width: 88px;
height: 42px;
cursor: pointer;
margin-right: 10px;
padding-bottom: 20px;
color: #FFF;
font-size: 14px;
font-weight: bold;
}
.input {
border: 1px solid #B8B8B8;
font-family: verdana, simsun, sans-serif;
font-size: 14px;
font-weight: bold;
padding: 4px 3px;
width: 170px;
}
.inputWidth {
width: 178px;
height: 28px;
padding: 3px;
border: 1px solid #B8B8B8;
font-size: 14px;
}
.inputI {
border: 1px solid #B8B8B8;
font-family: verdana, simsun, sans-serif;
font-size: 14px;
font-weight: bold;
padding: 4px 3px;
width: 100px;
}
.footer {
width: 950px;
height: 59px;
clear: both;
line-height: 20px;
}
.footer .link {
height: 0;
line-height: 0;
overflow: hidden;
text-align: center;
}
.footerBg {
width: 950px;
height: 59px;
background-image: url(footer.gif);
background-repeat: no-repeat;
background-position: center;
}
.footer .copyright {
color: #989898;
text-align: center;
padding-top: 12px;
font-weight:bold;
}
.footer .copyright a {
color: #989898;
text-decoration: none;
}
.footer .copyright a:hover {
text-decoration: underline;
}
.footer .copyright img{
position: relative;
top: 2px;
margin: 0 7px;
}
.error {
color: red;
}
.strength_O {
background-color: #EBEBEB;
border-bottom: 0px solid #BEBEBE;
border-right: 0px solid #BEBEBE;
}
.strength_L {
background-color: #FF4545;
border-bottom: 1px solid #BB2B2B;
border-right: 1px solid #BB2B2B;
}
.strength_M {
background-color: #FFD35E;
border-bottom: 1px solid #E9AE10;
border-right: 1px solid #E9AE10;
}
.strength_H {
background-color: #3ABB1C;
border-bottom: 1px solid #267A12;
border-right: 1px solid #267A12;
}
#vcImage {
border: 1px solid #CFCFCF;
}
#vcImageTR a {
color: #507EA4;
line-height: 30px;
}